#shield{
   
    background-color: pink;
    color:green;
    border: 2px solid rgb(238, 5, 5);
    border-radius: 30px;
   
    width: 80px;
    height: 80px;

}
#dodgeLeft{
  color:black;
  border: 2px solid rgb(238, 5, 5);
  border-radius: 30px;
 
  width: 80px;
  height: 80px;
}
#dodge{
  color:black;
border: 2px solid rgb(238, 5, 5);
border-radius: 30px;

width: 80px;
height: 80px;

}

#chooseWeapon{
  color:black;
border: 2px solid rgb(238, 5, 5);
border-radius: 30px;

width: 140px;
height: 40px;

}

#Attack{
  color:black;
border: 2px solid rgb(238, 5, 5);
border-radius: 30px;
background-color:grey;
width: 80px;
height: 80px;

}
body{
  background-color:papayawhip;
}
select {
  width: 200px;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border: 1px solid #C0C0C0;
  height: 34px;
  border-radius: 20px;

  /* WebKit */
  -webkit-appearance: none;
  /* Mozilla */
  -moz-appearance: none;
  /* Opera */
  -o-appearance: none;
  /* Internet Explorer */
  -ms-appearance: none;
  /* CSS3 */
  appearance: none;
}

.switch {
  position: relative;
  /* No line-break after the element, so the element can sit next to other elements.*/
  display: inline-block;
  width: 60px;
  height: 34px;
}

